<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css' rel='stylesheet'>
    {% block link %}

    {% endblock %} 
    <title>
        {% block title %}

        {% endblock %}

    </title>
    {% block style %}

    {% endblock %}
    
</head>
<body>
    <!-- navigation bar -->
    <div class="container">
        <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
            <a href="{{ url_for('home') }}" class="navbar-brand mb-0 h1">
                <h1 class="d-inline-block align-top"> Jenny Jones</h1>
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll">
                    <li class="nav-item active">
                        <a href="{{ url_for('home') }}" class="nav-link active">
                            Home
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link" data-bs-toggle="modal" data-bs-target="#reg-modal">
                            Schedule
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link">
                            About
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Order
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <li><a class="dropdown-item" href="#">Order Taxi</a></li>
                            <li><a class="dropdown-item" href="#">Order Food</a></li>
                            <li><a class="dropdown-item" href="#">Hotel Reservation</a></li>
                          </ul>
                    </li>
                </ul>
            </div>
            {% block form %}
            
            {% endblock %}
        </nav>
    </div>

        <!-- flash message -->
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <p>{{ message }}</p>
        {% endfor %}
    {% endif %}
    {% endwith %}

    <!-- modal -->
    {% block modal_form %}
            
    {% endblock %}


    <!-- content -->
    {% block content %}

    {% endblock %}
    
    
    <!-- javascript -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>